@import '../common-imports';

.leadspace-home {

    &__thumb {
        max-width: rem(166px);
        margin-bottom: rem(-55px);
        z-index: 1;
        @include media-breakpoint-up(md) {
            max-width: inherit;
            margin-bottom: rem(0px);
        }
        @include media-breakpoint-up(xl) {
            max-width: rem(397px);
        }
    }

    &__spanner {
        border-bottom: 5px solid $secondary;
    }

    

}