@import '../common-imports';


.leadspace-newsroom {
    .thumbnail-img {
        max-width: rem(120px);
        position: absolute;
        bottom: rem(60px);
        left: rem(-40px);
        @include media-breakpoint-up(md) {
            position: static;
            max-width: rem(208px);
            margin-top: rem(-15px);
        }
        @include media-breakpoint-up(xl) {
            max-width: rem(318px);
            margin-top: rem(-40px);
        }
    }

    .btn-primary {
        z-index: 1;
    }

}