@import '../common-imports';

.section-icon-grid{
    &--dark{
        color: $white;
    }
    &--light{
        color: $primary;
    }
    &__slider{
        @include media-breakpoint-up(md) {
            margin-left: rem(-40px);
            margin-right: rem(-40px);
        }
        @include media-breakpoint-up(lg) {
            margin-left: rem(-35px);
            margin-right: rem(-35px);
        }
    }
    &__slider{
        .swiper{
            &-wrapper{
                @include media-breakpoint-up(md) {
                    flex-wrap: wrap;
                }
            }
            &-slide{
                @include media-breakpoint-up(md) {
                    flex: 0 0 50%;
                }
                @include media-breakpoint-up(lg) {
                    flex: 0 0 33.33%;
                }
            }
            &-pagination{
                bottom: 0;
            }
        }
    }
}