.form-control {
    height: rem(59px);
    border-radius: rem(8px);
    padding: rem(15px 22px);
    border: 2px solid transparent;
    font-size: rem(24px);
    line-height: rem(28px);
    color: $primary;

    &:focus {
        box-shadow: none;
        border-color: $tan;
    }

    &::placeholder {
        color: $gray-600;
    }

    &.wpcf7-not-valid {
        border-color: $dark-red;
    }
}

label {
    @extend .text-uppercase;
    color: $primary;
    font-size: rem(14px);
    font-weight: 500;
}

.info-spanner {
    font-size: rem(20px);
    line-height: rem(28px);
    color: #4a4a4a;
}
