h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
    @extend %heading;
}

h1,
.h1,
.display-1 {
    font-size: rem(40px);
    line-height: rem(40px);
    font-weight: 500;

    @include media-breakpoint-up(xl) {
        font-size: rem(64px);
        line-height: rem(64px);
    }
}

h2,
.h2 {
    font-size: rem(28px);
    line-height: rem(28px);
    @include media-breakpoint-up(xl) {
        font-size: rem(44px);
        line-height: rem(44px);
    }
}

h3,
.h3 {
    font-size: rem(36px);
    line-height: rem(36px);
    @include media-breakpoint-up(xl) {
        font-size: rem(26px);
        line-height: rem(26px);
    }
}

h4,
.h4 {
    font-size: rem(24px);
    line-height: rem(24px);
    @include media-breakpoint-up(xl) {
        font-size: rem(30px);
        line-height: rem(30px);
    }
}

h5,
.h5,
.body-1,
body {
    font-size: rem(22px);
    line-height: rem(23px);
    font-weight: 400;
    @include media-breakpoint-up(xl) {
        font-size: rem(26px);
        line-height: rem(28px);
    }
}

h6,
.h6,
.body-2 {
    font-size: rem(16px);
    line-height: rem(20px);
    font-weight: 400;
    @include media-breakpoint-up(xl) {
        font-size: rem(20px);
        line-height: rem(24px);
    }
}

.eyebrow {
    font-size: rem(14px);
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    &-1 {
        @include media-breakpoint-up(md) {
            font-size: rem(16px);
        }
        @include media-breakpoint-up(xl) {
            font-size: rem(20px);
        }
    }
    &-2 {
        @include media-breakpoint-up(md) {
            font-size: rem(16px);
        }
    }
    &-3 {
        font-size: rem(14px);
    }
}

.quote {
    font-weight: 300;
    &-1 {
        font-size: rem(28px);
        line-height: rem(32px);
        @include media-breakpoint-up(xl) {
            font-size: rem(36px);
            line-height: rem(40px);
        }
    }
    &-2 {
        font-size: rem(24px);
        line-height: rem(28px);
        @include media-breakpoint-up(xl) {
            font-size: rem(32px);
            line-height: rem(36px);
        }
    }
}

.link {
    text-decoration: underline;
    &-1 {
        font-size: rem(30px);
        line-height: rem(30px);
        @include media-breakpoint-up(md) {
            font-size: rem(34px);
            line-height: rem(34px);
        }
        @include media-breakpoint-up(xl) {
            font-size: rem(50px);
            line-height: rem(50px);
        }
    }
    &-2 {
        font-size: rem(20px);
        line-height: rem(20px);
        @include media-breakpoint-up(md) {
            font-size: rem(22px);
            line-height: rem(22px);
        }
        @include media-breakpoint-up(xl) {
            font-size: rem(26px);
            line-height: rem(28px);
        }
    }
    &-3 {
        font-size: rem(18px);
        line-height: rem(18px);

        @include media-breakpoint-up(xl) {
            font-size: rem(20px);
            line-height: rem(20px);
        }
    }
}

.button,
.btn {
    font-size: rem(18px);
    line-height: rem(20px);
    font-weight: 500;

    @include media-breakpoint-up(xl) {
        font-size: rem(20px);
        line-height: rem(20px);
    }
}

a {
    text-decoration: none;
    @extend .transition-fast;
}
