.#{$global} {
    &-footer {
        color: $primary;
        .footer {
            &-top {
                .thumbnail-img {
                    div {
                        max-width: rem(74px);
                        @include media-breakpoint-up(md) {
                            max-width: rem(120px);
                        }
                        > a {
                            max-width: rem(46px);
                            @include media-breakpoint-up(md) {
                                max-width: rem(60px);
                            }
                        }
                    }
                    &::before {
                        position: absolute;
                        content: '';
                        top: 50%;
                        left: 0;
                        width: 100%;
                        height: rem(1px);
                        @extend .bg-gray;
                        transform: translateY(-50%);
                    }
                }
                p {
                    font-size: rem(18px);
                    letter-spacing: rem(0.32px);
                    @include media-breakpoint-up(md) {
                        font-size: rem(20px);
                        letter-spacing: rem(0.36px);
                    }
                }
            }
            &-bottom {
                ul {
                    li {
                        &:not(:last-child) {
                            a {
                                border-right: 1px solid $secondary;
                                padding-right: rem(5px);
                                margin-right: rem(5px);
                            }
                        }
                        a {
                            font-size: rem(14px);
                            line-height: rem(10px);
                            letter-spacing: rem(0.5px);
                            color: $secondary;
                            text-transform: uppercase;
                            font-weight: 500;
                        }
                        &:hover {
                            a {
                                color: $primary;
                            }
                        }
                    }
                }
                p {
                    font-size: rem(14px);
                    @include media-breakpoint-up(md) {
                        letter-spacing: rem(0.25px);
                    }
                }
            }
        }
        .footer-block {
            ul {
                li {
                    a {
                        font-size: rem(16px);
                        line-height: rem(34px);
                        display: block;
                        letter-spacing: rem(0.5px);
                        color: $primary;
                    }
                    &:hover {
                        a {
                            color: $secondary;
                        }
                    }
                }
            }
        }
    }
}

.social {
    ul {
        li {
            a {
                font-size: rem(16px);
                line-height: rem(34px);
                letter-spacing: rem(0.5px);
                display: flex;
                align-items: center;
                i {
                    margin-right: rem(8px);
                    position: relative;
                }
            }
        }
    }
}

.subscribe {
    h6 {
        margin-bottom: rem(2px);
        font-size: rem(16px);
        line-height: rem(16px);
        letter-spacing: rem(0.5px);
        color: $primary;
    }
    p {
        font-size: rem(14px);
        line-height: rem(16px);
        letter-spacing: rem(0.25px);
        margin-bottom: rem(5px);
        @extend .fw-light;
        @include media-breakpoint-up(md) {
            margin-bottom: rem(15px);
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: rem(20px);
        }
    }
    .form-control {
        border: 1px solid #a7a7b3;
        height: 30px;
        font-size: 14px;
        letter-spacing: 0.25px;
        border-radius: 8px;
        padding: rem(8px 18px);
        margin-bottom: rem(10px);
    }
    .btn-primary {
        min-width: 100%;
        font-size: rem(15px);
        font-weight: 500;
        border-radius: rem(7.5px);
        padding: rem(4px 16px);
        @include media-breakpoint-up(md) {
            min-width: rem(100px);
        }
    }
}
